/*==============================================
 					Global Style 
==============================================*/
*{
	margin: 0;
	padding: 0;
}
body{
	color: #EC6545;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	overflow-x: hidden;
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden !important;
}
ul,p{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	display: inline-block;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
p{
	font-weight: 400;
	color: #808080;
}
img{
	width: 100%;
	height: auto;
	display: inline-block;
}

.section_heading{
	text-align: center;
	max-width: 870px;
	width: 100%;
	margin: 0 auto;
}
.section_heading h2 {
	font-size: 40px;
	line-height: 48px;
	font-weight: 700;
	color: #EC6545;
	margin-bottom: 5px;
}
.section_heading p{
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.section_padding{
	padding: 40px 0;
}

.more_btn{
 	margin-top: 25px;
 	text-align: center;
 }
.btn_sty_1{
 	max-width: 170px;
 	width: 100%;
 	display: inline-block;
 	font-size: 16px;
 	line-height: 20px;
 	font-weight: 700;
 	padding: 12px;
	padding: 8px 15px;
	border: 2px solid #F4B65F;
	border-radius: 8px;
	text-align: center;
	background: #F4B65F;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #fff;
}
.btn_sty_1:hover{
 	color: #F4B65F;
 	background: #fff;
}

/*==============================================
 			Header Area Style
==============================================*/
.header_area {
	position: relative;
	width: 100%;
	background-color: #fff;
	height: auto;
	padding: 15px 0;
	z-index: 299;
}


.header_content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: flex-end;
	    -ms-flex-align: flex-end;
	        align-items: flex-end;
	position: relative;
}
.logo{
	width: 20%;
}
.logo img{
	width: 80%;
}
.main_menu{
	width: 55%;
}
.main_menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.main_menu ul li{
	margin-left: 30px;
}
.main_menu ul li a{
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #000;
}
.main_menu ul li a:hover,
.main_menu ul li a.active{
	color: #EC6545;
}
.main_menu ul li:first-child{
	margin-left: 0;
}
.menu_right_button{
	width: 25%;
}
.menu_right_button ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.menu_right_button ul li:not(:last-child){
	margin-right: 10px;
	max-width: 140px;
	width: 100%;
}
.menu_right_button ul li:last-child{
	margin-right: 0px;
}
.menu_right_button ul li a{
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #000;
	padding: 8px 15px;
	border: 2px solid #F4B65F;
	box-sizing: border-box;
	border-radius: 8px;
	display: block;
	text-align: center;
}
.menu_right_button ul li a:hover{
	background: #F4B65F;
	color: #fff;
}
.menu_right_button ul li select{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border: none;
	outline: none;
}
.register{
	background: #F4B65F;
	color: #fff !important;
}
.register:hover{
	background: #fff !important;
	color: #000 !important;
}
.sticky {
	position: fixed;
	background: #ffffff;
	padding: 15px;
	z-index: 99999;
	box-shadow: 0 5px 15px #00000029;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
/* mobile_humbar */
/* Mobile Menu */
.all-p-humber {
	width: 30px;
	height: 18px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 99;
	cursor: pointer;
}
.all-p-humber span {
	display: block;
	position: absolute;
	height: 3px;
	width: 25px;
	background: #FFA124;
	border-radius: 9px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	left: 0;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.all-p-humber span:nth-child(2), .all-p-humber span:nth-child(3) {
	top: 8px;
}
.all-p-humber span:nth-child(2), .all-p-humber span:nth-child(3) {
	top: 8px;
}
.all-p-humber span:nth-child(4) {
	top: 16px;
}
.all-p-humber.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.all-p-humber.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.all-p-humber.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.all-p-humber.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

/*==============================================
 			Banner Area Style
==============================================*/
.banner_area{
	padding: 0 0 60px;
	position: relative;
}
.common_bn_after{
	position: relative;
}
.common_bn_after::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 285px;
    left: 0;
    background: url(../images/about-shap.png)no-repeat scroll 0 0 / cover;
    bottom: 0;
    z-index: -1;
}

.banner_text h1{	
	font-size: 56px;
	line-height: 68px;
	color: #EC6545;
	font-weight: 700;
}
.banner_text p{	
	font-size: 18px;
	line-height: 23px;
	margin-top: 18px;
}
.banner_spaciel_text p{
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	color: #F4B65F;
	margin-top: 20px;
 }
 .banner_text .more_btn{
 	text-align: left;
 }
.more_btn{
 	margin-top: 25px;
 }
.more_btn a{
 	max-width: 170px;
 	width: 100%;
 	display: inline-block;
 	font-size: 16px;
 	line-height: 20px;
 	font-weight: 700;
 	padding: 12px;
	padding: 8px 15px;
	border: 2px solid #F4B65F;
	border-radius: 8px;
	text-align: center;
	background: #F4B65F;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	color: #fff;
}
.more_btn a:hover{
 	color: #F4B65F;
 	background: #fff;
}



/*==============================================
 			How it Work Area Style
==============================================*/
.how_it_work_area{
	position: relative;
}
.how_it_work_area:after {
	position: absolute;
	content: "";
	width: 180px;
	height: 645px;
	right: 0;
	background: url('../images/work-shap.png')no-repeat scroll 0 0 / cover;
	bottom: -260px;
	z-index: -1;
}
.how_it_work_items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-line-pack: center;
	    align-content: center;
	padding: 50px 0 30px;
}
.it-work-content {
	display: table-cell;
	vertical-align: middle;
	padding: 30px;
	background: #fff;
	border-radius: 50%;
	position: relative;
}
.it-work-content span {
	position: absolute;
	top: 16%;
	left: -55px;
	bottom: 0;
	font-size: 150px;
	line-height: 182px;
	font-weight: 700;
}
.how_it_work_single_items {
	max-width: 275px;
	width: 100%;
	height: 275px;
	margin: 0 auto;
	background: -webkit-linear-gradient(45deg, #EC6545 2.89%, #F4B65F 97.52%);
	background: linear-gradient(45deg, #EC6545 2.89%, #F4B65F 97.52%);
	display: table;
	padding: 6px;
	border-radius: 50%;
	position: relative;
}

.wrk_span_one{
	left: -35px !important;
}
.it-work-content h4{
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	color: #EC6545;
}
.it-work-content p{
	font-size: 14px;
	font-weight: 500;
	line-height: 17px;
}



/*==============================================
 			How it Work Area Style
==============================================*/
.features_area .col-lg-3 {
	padding: 0 8px;
}
.features_items_row{
	padding: 50px 0;
}
.features_items_content {
	padding: 45px 25px;
	border-radius: 16px;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

}
.it-work-content {
	display: table-cell;
	vertical-align: middle;
}
.feature_iocn {
	width: 70px;
	margin: 0 auto;
	height: 70px;
	margin-bottom: 20px;
}
.feature_text{
	text-align: center;
}
.feature_text h4 a{
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	color: #EC6545;
	margin-bottom: 6px;
}
.feature_text p{
	font-size: 14px;
	font-weight: 500;
	line-height: 15px;
}

/*==============================================
 			About Area Style
==============================================*/
.about-area{
	padding: 90px 0;
	position: relative;
}
.about-area:before {
	position: absolute;
	content: "";
	left: 0;
	top: -117px;
	width: 152px;
	height: 350px;
	background: url('../images/about-shap.png')no-repeat scroll 0 0 / cover;
	z-index: -1;
}
.about-area:after {
	position: absolute;
	content: "";
	right: 0;
	top: 100px;
	width: 350px;
	height: 450px;
	background: url('../images/blog-shap_2.png')no-repeat scroll 0 0 / cover;
	z-index: -1;
}
.about-image img{
	width: 90%;
}
.about-tontent h2{
	font-size: 56px;
	font-weight: 700;
	line-height: 68px;
	color: #EC6545;
	margin-bottom: 45px;

}
.about-tontent p{
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 22px;

}



/*==============================================
 			Out Partners Area Style
==============================================*/
.our_partner_logo {
	padding: 40px 0;
}


/*==============================================
 			Blog Area Style
==============================================*/
.blog_area{
	position: relative;
}
.blog_area:after {
	position: absolute;
	content: "";
	width: 120px;
	height: 130px;
	left: 0;
	top: 0;
	background: url('../images/blog-shap.png')no-repeat scroll 0 0 / cover;
	z-index: -1;
}
.blog_row{
	padding: 50px 0;
}

.blog_content{
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px #0000001A;
	padding:40px;
}
.blog-img{
	text-align: center;
}
.blog-img img {
	width: 170px;
	height: 170px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.blog-desc{
	margin-top: 15px;
}
.blog-desc span.blog_response{
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	max-width: 100px;
	background: #F4B65F;
	border-radius: 10px;
	display: block;
	text-align: center;
	padding: 6px 10px;
	margin-bottom: 20px;
}
.blog-desc p.blog_date_tiem{
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 15px;
}
h2.blog_title a{
	font-size: 28px;
	font-weight: 700;
	line-height: 34px;
	margin-bottom: 5px;
	color: #EC6545;
}
.blog_dsc{
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}
.blog_content .more_btn{
	margin-top: 40px;
}
.blog_content .btn_sty_1 {
	max-width: 100%;
	width: 100%;
	padding: 13px;
	font-size: 20px;
	line-height: 24px;
}


/*==============================================
 			Contact Us Area Style
==============================================*/
.contactus_area{
	padding: 90px 0;
	position: relative;
}
.contactus_area:after {
	position: absolute;
	content: "";
	width: 120px;
	height: 130px;
	right: 0;
	bottom: 0;
	background: url('../images/footer-shap.png')no-repeat scroll 0 0 / cover;
	z-index: -1;
}
.contact-inf ul li{
	margin-bottom: 35px;
}
.contact-inf ul li span.contact_us_txt{
	font-size: 40px;
	line-height: 49px;
}
.contact-inf ul li span {
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	display: block;
	color: #EC6545;
	margin-bottom: 5px;
}
.contact-inf ul li p,
.contact-inf ul li a{
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	color: #808080;
	-webkit-transition: 0.3s;
	transition: 0.3s;

}
.contact-inf ul li a:hover{
	color: #F4B65F;
}
.contact-form input {
	padding: 13px 25px;
	border: 1px solid #808080;
	border-radius: 8px;
}
.contact-form textarea{
	width: 100%;
	height: 125px;
	padding: 13px 25px;
	border: 1px solid #808080;
	border-radius: 8px;
}
.contact-form input:focus,
.contact-form textarea:focus{
	box-shadow: none;
	border: 1px solid #F4B65F;
	outline: none;
}
.contact-form button.btn_sty_1 {
	max-width: 245px;
	width: 100%;
	padding: 15px;
	font-size: 20px;
	line-height: 24px;
}



/*==============================================
 			Contact Us Area Style
==============================================*/
.footer-area{
	background: #F7F7F7;
	padding: 90px 0;
	position: relative;
}

.footer_logo img{
	max-width: 180px;
	width:  100%;
}
.ft-left_des p{
	font-size: 15px;
	line-height: 25px;
	margin-top: 25px;
}
.common_ft h4{
	font-size: 20px;
	line-height: 25px;
	font-weight: 700;
	color: #000;
	margin-bottom: 20px;
}
.common_ft p{
	font-size: 15px;
	line-height: 25px;
	color: #605F5F;
	margin-bottom: 25px;
}
.footer-left_Two .ft_phone{
	color: #42A8F0;
	font-weight: 700;
	line-height: 25px;
	font-size: 20px;
}
.footer-left_Two .ft_phone i{
	font-size: 24px;
	margin-right: 10px;
}
.footer-left_Two .ft_phone a{
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.footer-left_Two .ft_phone:hover a{
	color: #F4B65F;
}

.footer-left_Three ul li{
	margin-bottom: 12px;
}
.footer-left_Three ul li a{
	color: #605F5F;
	font-size: 16px;
	font-weight: 400;
}
.footer-left_Three ul li a i{
	margin-right: 15px;
}
.footer-left_Three ul li a:hover{
	color: #F4B65F;
}

.footer-right ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer-right ul li:not(:last-child){
	margin-right: 10px;
}
.footer-right ul li a{
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack:  center;
	    -ms-flex-pack:  center;
	        justify-content:  center;
}
.footer-right ul li a i{
	font-size: 20px;
}
.footer-right ul li:first-child a{
	background: #45619D;
}
.footer-right ul li:last-child a{
	background: #2797CF;
}
/*========================================================
=============START PRODUCT.HTML PAGES CSS ================
========================================================*/
.product_banner {
	margin-top: 65px;
}
.product_banner .container {
	padding-left: 0;
	padding-right: 0;
}
.product_select_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 50px;
}
.left_pd_select , .right_pd_select{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.pd_category h3, .product_list_count h3 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin-right: 10px;
}
.pro_select_options .form-select {
	width: 350px;
	display: block;
	border: 1px solid #808080;
	box-sizing: border-box;
	border-radius: 10px;
}
.left_pd_select {
	margin-right: 90px;
}
.form-select:focus {
	border-color: #F4B65F;
	outline: 0;
	box-shadow: none;
}
.product_list_count {
	text-align: center;
	margin-top: 75px;
	margin-bottom: 70px;
}
/*product items css*/
.pro_box_logo {
	background: #E8E8E8;
	border-radius: 15px 15px 0px 0px;
	height: 175px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.pro_box_logo a {
	display: block;
	max-width: 115px;
	width: 100%;
	margin: auto;
}
.single_pro_items {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(20% - 10px);
	    flex: 0 0 calc(20% - 10px);
	margin: 0 auto;
	margin-bottom: 50px;
}
.pro_details {
	background: #FFFFFF;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 15px 15px;
	padding: 12px 14px 10px;
}
.pro_details h4{
	font-weight: 700;
	font-size: 15px;
	color: #000;
}
.pd_product_content_area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.pro_details p {
	color: #605F5F;
	font-size: 13px;
	font-weight: 400;
}
.comon_pro_side {
	position: relative;
	margin-bottom: 200px;
}
.comon_pro_side:after {
	position: absolute;
	content: "";
	width: 180px;
	height: 100%;
	right: 0;
	background: url('../images/work-shap.png')no-repeat scroll 0 0 / cover;
	bottom: -260px;
	z-index: -1;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}
.comon_pro_side:before {
	position: absolute;
	content: "";
	left: 0;
	top: 50%;
	width: 152px;
	height: 350px;
	background: url('../images/about-shap.png')no-repeat scroll 0 0 / cover;
	z-index: -1;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
}

/*========================================================
=============END PRODUCT.HTML PAGES CSS ================
========================================================*/



/*========================================================
============= START WORK.HTML PAGES CSS  ================
========================================================*/
.how_work_heading h2 {
	font-weight: bold;
	font-size: 56px;
	line-height: 68px;
	color: #EC6545;
	max-width: 610px;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 30px;
}
.how_work_heading p {
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #808080;
	max-width: 600px;
	width: 100%;
}
.how_work_heading p span {
	display: block;
}
.how_work_heading a {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #F4B65F;
	display: inline-block;
	margin-top: 55px;
}
.how_it_works_area {
	padding-bottom: 250px;
}
.how_it_works_area.comon_pro_side:before {
	position: absolute;
	content: "";
	left: 0;
	top: 30%;
	width: 152px;
	height: 350px;
	background: url('../images/about-shap.png')no-repeat scroll 0 0 / cover;
	z-index: -1;
}
.how_it_works_area.comon_pro_side:after {
	position: absolute;
	content: "";
	width: 180px;
	height: 100%;
	right: 0;
	background: url('../images/work-shap.png')no-repeat scroll 0 0 / cover;
	bottom: -100px;
	z-index: -1;
}
/*========================================================
=============  END WORK.HTML PAGES CSS    ================
========================================================*/






